.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header_left {
  flex: 0.5;
  min-width: 70px;
  background-color: #fff;
  color: gray;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.header_left > input {
  border: none;
  width: 100%;
  font-size: 15px;
}
.header_left > input:focus {
  border: none;
  outline: none;
}

.header_right > h4 {
  margin-left: 10px;
}

.header_right {
  display: flex;
  align-items: center;
}
