.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #000;
}

.login > img {
  width: 100%;
  max-width: 700px;
}

.login > a {
  text-decoration: none;
  background-color: #1db954;
  padding: 20px;
  border-radius: 99px;
  font-weight: 800;
  color: #fff;
}
